.Toolbar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}
/* 
.MobileLogo {
    display: none;
} */

.ShopNow {
    background-image: linear-gradient(-90deg, beige, white);
}

/* .Toolbar nav {
    height: 100%;
} */

.Logo {
    height: 80%;
}

/* .Toolbar button:nth-child(4) {
    display:none;
} */

@media (max-width: 499px) {
    /* .Logo {
        display:none;
    } */

    /* .Toolbar {
        justify-content: center;
        flex-direction: column;
        //position: relative;
    } */

    /* .Toolbar nav {
        position: sticky;
    } */

    /* .Toolbar div:nth-child(1) {
        position: sticky;
    } */

    /* .MobileLogo {
        display: block;
        text-align: center;
    } */

    /* .Logo {
        display:none;
    } */

    /* .Toolbar button:nth-child(4) {
        display:block;
    } */

   
    .DesktopOnly {
        display: none;
    }
}