.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    font-family: 'helvetica', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    flex-flow: column;
}

@media (max-width: 549px) {
    ul > button {
        display:none;
    }
    /* .NavigationItems { */
        
    /* } */
}

@media (min-width: 500px) {
    .NavigationItems {
        align-items: center;
        flex-flow: row;
    }
}